-i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com
pycrypto
django
paho-mqtt
django-extensions
gunicorn
djangorestframework
django-mptt
django-suit
requests
django-model-utils
wechatpy
cryptography
