[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/" 
verify_ssl = false
name = "pypi"

[packages]
django = "<3"
paho-mqtt = "*"
django-extensions = "*"
gunicorn = "*"
"psycopg2" = "*"
djangorestframework = "*"
django-mptt = "*"
django-suit = "*"
requests = "*"
django-model-utils = "*"
wechatpy = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.6"
